.img{

    width: 100%;
      padding: 5px;
      border-radius: 5%;
      margin: 10px;
    display: block;
}

.main{
    background-color: #000;
}

.figcaption{
    text-align: right;
    color: white;
    font-size: larger;
    font-family: 'Pacifico', cursive;
    
}